Healthcare Analytics Dataset

Import Library

In [3]:
import pandas as pd

Load Datasets

In [22]:
visits = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\HR ANALYTICS\healthcare_analytics_dataset\clinic_visits.csv")
clinics = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\HR ANALYTICS\healthcare_analytics_dataset\clinics.csv")
doctors = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\HR ANALYTICS\healthcare_analytics_dataset\doctors.csv")

Preview of Each Table

In [25]:
visits.head()

,Visit_ID,Date,Patient_Age,Gender,Illness,Medicine_Prescribed,Doctor_ID,Clinic_ID,Visit_Type,Follow_Up,Blood_Pressure,Sugar_Level,Notes
0,V00001,2023-10-04,45,Male,Skin Rash,NaN,D016,C011,First-Time,No,120/80,NaN,Physical five reach history notice opportunity...
1,V00002,2024-09-05,57,Female,Cough,Ibuprofen,D097,C007,Follow-Up,No,160/100,130.0,White fight move water put.
2,V00003,2023-04-21,6,Female,Skin Rash,NaN,D019,C007,First-Time,No,130/85,150.0,Order seek break.
3,V00004,2023-03-14,58,Male,Cough,Paracetamol,D021,C005,Follow-Up,Yes,160/100,210.0,Ok away peace able exactly.
4,V00005,2023-01-12,28,Female,Cough,Metformin,D089,C006,First-Time,No,160/100,90.0,Kitchen hard explain thing against.

In [27]:
clinics.head()

,Clinic_ID,Clinic_Name,Location,No_of_Doctors,Available_Beds,Speciality,Area_Type
0,C001,Harris Clinic,Shawnbury,8,16,General,Rural
1,C002,Valdez Clinic,East Lorifort,5,7,General,Urban
2,C003,Wilson Clinic,Kristenberg,5,11,General,Rural
3,C004,Hebert Clinic,East Christophermouth,6,8,Pediatrics,Rural
4,C005,Brooks Clinic,Williamtown,9,19,Pediatrics,Rural

In [29]:
doctors.head()

,Doctor_ID,Doctor_Name,Experience_Years,Speciality,Assigned_Clinic,Days_Available
0,D001,Travis Scott,32,General,C015,"Sat, Fri, Tue, Wed, Thu"
1,D002,Nichole Solomon MD,28,Cardiology,C020,"Wed, Tue, Sat, Mon, Thu, Fri"
2,D003,Christina Lee,19,General,C025,"Mon, Sat, Tue, Fri, Thu, Wed"
3,D004,Ryan Trujillo,28,General,C003,"Thu, Sat, Mon"
4,D005,Michael Harrison,25,Dermatology,C021,"Fri, Thu, Sat, Tue, Wed, Mon"

In [43]:
print("Rows & Columns of Visit Table:", visits.shape)

Rows & Columns of Visit Table: (25000, 13)

In [45]:
print("Rows & Columns of Clinic Table:", clinics.shape)

Rows & Columns of Clinic Table: (25, 7)

In [47]:
print("Rows & Columns of Doctor Table:", doctors.shape)

Rows & Columns of Doctor Table: (100, 6)

In [49]:
print("Columns in Visit Table:", visits.columns.tolist())

Columns in Visit Table: ['Visit_ID', 'Date', 'Patient_Age', 'Gender', 'Illness', 'Medicine_Prescribed', 'Doctor_ID', 'Clinic_ID', 'Visit_Type', 'Follow_Up', 'Blood_Pressure', 'Sugar_Level', 'Notes']

In [51]:
print("Columns in Clinic Table:", clinics.columns.tolist())

Columns in Clinic Table: ['Clinic_ID', 'Clinic_Name', 'Location', 'No_of_Doctors', 'Available_Beds', 'Speciality', 'Area_Type']

In [53]:
print("Columns in Doctors Table:", doctors.columns.tolist())

Columns in Doctors Table: ['Doctor_ID', 'Doctor_Name', 'Experience_Years', 'Speciality', 'Assigned_Clinic', 'Days_Available']

Clean Dataset

In [115]:
print(" Duplicates in Visit:", visits.duplicated().sum())

Duplicates in Visit: 0

In [117]:
print("Duplicates in Clinic:",clinics.duplicated().sum())

Duplicates in Clinic: 0

In [119]:
print("Duplicates in Doctor:",doctors.duplicated().sum())

Duplicates in Doctor: 0

In [123]:
print("Nulls in Visits:", visits.isnull().sum())

Nulls in Visits: Visit_ID               0
Date                   0
Patient_Age            0
Gender                 0
Illness                0
Medicine_Prescribed    0
Doctor_ID              0
Clinic_ID              0
Visit_Type             0
Follow_Up              0
Blood_Pressure         0
Sugar_Level            0
Notes                  0
Year                   0
Month                  0
Day                    0
Weekday                0
dtype: int64

In [125]:
visits['Medicine_Prescribed'] = visits['Medicine_Prescribed'].fillna('Not Prescribed')

In [91]:
visits['Blood_Pressure'] = visits['Blood_Pressure'].fillna('Not Recorded')

In [93]:
visits['Sugar_Level'] = visits['Sugar_Level'].fillna('Not Recorded')

In [127]:
print("Nulls in Clinic:", clinics.isnull().sum())

Nulls in Clinic: Clinic_ID         0
Clinic_Name       0
Location          0
No_of_Doctors     0
Available_Beds    0
Speciality        0
Area_Type         0
dtype: int64

In [129]:
print("Nulls in Doctor:", doctors.isnull().sum())

Nulls in Doctor: Doctor_ID           0
Doctor_Name         0
Experience_Years    0
Speciality          0
Assigned_Clinic     0
Days_Available      0
dtype: int64

In [137]:
visits['Date'] = pd.to_datetime(visits['Date'], errors='coerce')

In [113]:
visits['Year'] = visits['Date'].dt.year
visits['Month'] =visits['Date'].dt.month
visits['Day'] = visits['Date'].dt.day
visits['Weekday'] = visits['Date'].dt.day_name()

Save cleaned CSV files

In [147]:
visits.to_csv(r'C:\Users\navee\OneDrive\Desktop\HR ANALYTICS\healthcare_analytics_dataset\cleaned_visits.csv', index=False)

In [149]:
clinics.to_csv(r'C:\Users\navee\OneDrive\Desktop\HR ANALYTICS\healthcare_analytics_dataset\cleaned_clinics.csv', index=False)

In [151]:
doctors.to_csv(r'C:\Users\navee\OneDrive\Desktop\HR ANALYTICS\healthcare_analytics_dataset\cleaned_doctors.csv', index=False)